@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");


* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background: #000;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  background: #000;
  color: #fff;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: 100vh;

  background: #000;
}